body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
    transition: all 0.3s ease;
}

.header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.3s ease;
}

.header:hover {
    background-color: #444;
}

.header .menu-button:first-child {
    margin-left: -200px;
}

.title {
    font-size: 20px;
    transition: all 0.3s ease;
}

.title:hover {
    font-size: 22px;
}

.header nav {
    display: flex;
}

.header .menu-button {
    color: #fff;
    text-decoration: none;
    margin-right: 30px;
    transition: all 0.3s ease;
}

.header .menu-button:hover {
    color: #ccc;
    transform: scale(1.1);
}

.header .menu-button.active {
    color: #ff0;
}

.header .username {
    color: #fff;
    text-decoration: none;
    transition: all 0.3s ease;
}

.header .username:hover {
    color: #ccc;
    transform: scale(1.1);
}

.container {
    margin: 20px auto;
    width: 510px;
    text-align: center;
    display: flex;
    align-items: center;
    transition: all 0.3s ease;
}

.team-input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 20px;
    margin-left: 10px;
    margin-right: 10px;
    width: 50%;
    box-sizing: border-box;
    transition: all 0.3s ease;
}

.team-input:hover {
    transform: scale(1.05);
}

button {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

button:hover {
    background-color: #444;
    transform: scale(1.1);
}

#matchInfo {
    display: flex;
    justify-content: space-between;
    margin: 20px auto;
    width: 510px;
    visibility: hidden;
}

#team1Info, #team2Info {
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: calc(50% - 10px);
    margin: 0 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 0.3s ease;
}

#team1Info:hover, #team2Info:hover {
    transform: scale(1.05);
}

#team1Info img, #team2Info img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-bottom: 10px;
    transition: all 0.3s ease;
}

#team1Info h2, #team2Info h2, #team1Info p, #team2Info p {
    text-align: center;
    word-wrap: break-word;
    transition: all 0.3s ease;
}

#predictionButtonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

#predictionButtonContainer button {
    width: 30%;
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

#predictionButtonContainer button:hover {
    background-color: #444;
    transform: scale(1.1);
}

#matchInfo2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px auto;
    width: 510px;
    visibility: hidden;
}

#matchesList {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    margin-top: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

#matchesList div {
    margin-bottom: 10px;
}

#matchInfo2 .teams {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#matchInfo2 .team {
    display: flex;
    align-items: center;
    transition: all 0.3s ease;
}

#matchInfo2 .team:hover {
    transform: scale(1.05);
}

#matchInfo2 .team img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
    margin-bottom: 5px;
}

#matchInfo2 .team p {
    margin: 0;
}

#matchInfo2 .team.home {
    justify-content: flex-start;
}

#matchInfo2 .team.away {
    justify-content: flex-end;
}

.favorite-match {
    position: fixed;
    bottom: 10px;
    right: 10px;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: all 0.3s ease;
}

.favorite-match:hover {
    transform: scale(1.05);
}

.favorite-match .team-logos {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.favorite-match .team-names {
    display: flex;
    justify-content: space-between;
}

.favorite-match .match-date {
    margin-top: 10px;
}

